[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

## Example options
## http://www.percona.com/doc/percona-xtradb-cluster/5.6/installation.html
wsrep_provider=/usr/lib64/libgalera_smm.so
wsrep_cluster_address=gcomm://
wsrep_slave_threads=2
wsrep_sst_method=rsync
binlog_format=ROW


## Important variables for galera
## http://www.olindata.com/blog/2013/12/important-variables-configuring-galera-percona-xtradb-cluster-56
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1
query_cache_size=0
query_cache_type=0
bind-address=0.0.0.0

wsrep_cluster_name=galera

skip-name-resolve

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

